{% load static %}

<footer class="footer" style="background-color: #9acbd0">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <h1 class="text-white">The Bank Hospital</h1>
            </div>
            <div class="footer-about-content">
              <p>
                The Bank Hospital web app is an online based platform for the
                hospital. It Provides immediate medical assistance to patients
                who require emergency treatment. Its Ability to track, monitor,
                and share a patient's health records between all hospitals.
                Patients can also see information regarding multiple hospitals
                and doctors and make appointments online.
              </p>
              <br />
              <div class="social-icon">
                <ul>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"
                      ><i class="fab fa-dribbble"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->

          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Contact Us</h2>
            <div class="footer-contact-info">
              <div class="footer-address">
                <span><i class="fas fa-map-marker-alt"></i></span>
                <p>
                  Cantonment, Accra ,<br />
                  Greater Accra Region, Ghana <br />
                </p>
              </div>
              <p>
                <i class="fas fa-phone-alt"></i>
                +233 (0) 267448669
              </p>
              <p class="mb-0">
                <i class="fas fa-envelope"></i>
                thebankhospitalgh@gmail.com
              </p>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->

  <!-- /Footer Bottom -->
</footer>
